* {
  padding: 0;
  margin: 0;
}


.header {
  border-bottom: solid 1px;
  font-family: Arial, "Arial Unicode MS", sans-serif;
  font-weight: bold;
  font-size: 0.8em !important;
  color:#7d736c;
  box-shadow: 1px -3px 14px rgb(0 0 0 / 40%);
  width: 100%;
  height: auto;
  padding-bottom: 0px;
}

.box-index{
  display:flex;
  align-self: center;
  justify-content: space-evenly;
}



table tbody tr{
  font-size: 0.8em !important;
  
}
table tbody tr th{
  padding: 0px 0px !important;
  margin: 0px 0px !important;
}
table tbody tr td{
  padding: 0px 0px !important;
  margin: 0px 0px !important;
}

table tbody tr td i{
  padding: 0px 0px !important;
  margin: 0px 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

table thead tr{
  background-color: rgb(41, 40, 38) !important;
  color: #eee;
}





.card .dt-buttons {
  float: left;
  width: 250px;
  margin-top: 0px;
  padding-bottom: 0px;
}
.dataTables_length{
  width: 200px;
  margin-top: 5px;
  float:left;
}

.body .header .reiniciarBd :hover{
  color: white !important;
}
.dataTables_filter {
  width: 30%;
  float: right;
  margin-bottom: 10px;
}
.card .dt-buttons .dt-button {
  background-color: #9479f5;
  border-radius: 3px;
  padding: 2px !important;
  font-size: 0.7em;
  border: solid 1px rgb(66, 150, 247);
  color:#eee;
  font-weight: bold;
}

.card .dt-buttons :hover{
  background-color: #212529;
  color: #eee;
  font-weight: bold;
}

.header .nav a {
  color: rgb(59, 53, 53);
}

.header .nav a:hover {
  background-color: #9479f5;
  color: #eee;
}

.header-menu {
  margin-top: 2px;
}

.header-menu .nav .nav-item a {
  border-radius: 5px;
  color: rgb(22, 19, 19);
}

.bg-dias-week{
  background-color: #a28bf5;
  font-weight: bold;
}


.div-oculto {
  display: none;
}

.card-body .table .dt-buttons button {
  background-color: red;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.header-menu .nav .nav-item a:hover {
  background-color: #212529;
  color: #eee;
  font-weight: bold;
}

.header .dropdown-item{
  font-size: 0.9em;
}

.swal2-styled.swal2-confirm {
  background-color: #9479f5 !important;
}

.swal2-styled.swal2-cancel {
  background-color: #f87a7a !important;
}