{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge" name="viewport"
    content="width=device-width, initial-scale=1.0" />

  <title>Gestión pedidos</title>
  <link rel="icon" type="image/svg+xml" href="{% static 'logo_joluro_software.png' %}">

  <script src="{% static 'sweetalert/sweetalert2.all.min.js' %} "></script>
  <link href="{% static 'css/style_pendientes.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />

  <link href="{% static 'icons/css/all.css' %}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'datatable/css/dataTables.bootstrap4.min.css' %}" />
  <link rel="stylesheet" href="{% static 'datatable/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" />
  <script src="{% static 'datatable/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'datatable/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'datatable/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'datatable/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.12.1/dataRender/datetime.js"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.2.0/js/buttons.html5.styles.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.2.0/js/buttons.html5.styles.templates.min.js"></script>
  <!-- Versión gratuita de Font Awesome (CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  {% block head %}

  {% endblock %}
</head>

<body class="body">
  {% if request.user.is_authenticated %}
  <div class="header" id="sub-header">
    <ul class="nav box-index" style="height: 45px; align-items: center;">
      <li class="nav-item" id="inicio">
        <a class="nav-link" href="{% url 'home' %}">
          <div class="d-flex align-items-center">
            {% if user.userprofile.avatar %}
            <img src="{{ user.userprofile.avatar.url }}" alt="Foto de perfil" class="rounded-circle" width="30"
              height="30">
            {% endif %}
          </div>
        </a>
      </li>
      <li class="nav-item" id="inicio">
        <a class="nav-link" href="{% url 'index_admin' %}">Ajustes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">Revisión Acta</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{% url 'subir_acta_revision' %}">Importar Acta revisión</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="analisis_revision_acta()">Nuevo analisis Acta</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="calculo_novedades()">Calculo Novedades Acta</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="limpiar_novedades_acta()">Reiniciar Novedades</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="limpiar_acta_analisis()">Reiniciar Acta Analisis</a>
          </li>
          <li class="nav-item" id="pendi_index">
            <a class="dropdown-item" id="pendi_a" href="{% url 'novedades_acta' %}">Novedades</a>
          </li>
          <li class="nav-item" id="pendi_index">
            <a class="dropdown-item" id="pendi_a" href="#">Sin interna</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">Gestión Ans</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" id="pendi_a" href="{% url 'menu_pendientes' %}">Pendientes</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'subir_acta_ans' %}">Subir extracción</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="gestion_bd()">Gestionar Ans</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="reiniciar_bd()">Reiniciar BD extracción</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="fechas_busqueda_epm()">Vence epm</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'inconsistencias' %}">Inconsistencias</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="fechas_busqueda_contrato()">Vence contrato</a>
          </li>
        </ul>
      </li>

      <!--  
          PERSEO VS FENIX
          -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">Perseo Vs Fénix</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" id="pendi_a" href="{% url 'subir_pvf_matfenix' %}">Subir
              Fenix</a>
          </li>
          <li>
            <a class="dropdown-item" id="pendi_a" href="{% url 'subir_pvf_matperseo' %}">Subir
              Perseo</a>
          </li>
          <li>
            <a class="dropdown-item" id="pendi_a" href="#" onclick="gestion_fenix()">Gestionar BD</a>
          </li>
          <li>
            <a class="dropdown-item" id="pendi_a" href="#" onclick="reiniciar_bd_perseo_vs_fenix()">Reiniciar actas</a>
          </li>
          <li>
            <a class="dropdown-item" id="pendi_a" href="{% url 'novedades_perseo_fenix' %}">Novedades</a>
          </li>
          <li>
            <a class="dropdown-item" id="pendi_a" href="#" onclick="reiniciar_novedades_bd_perseo_vs_fenix()">Reiniciar
              novedades</a>
          </li>
        </ul>
      </li>
      <!--  
          FIN PERSEO VS FENIX
          -->


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">Programar</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{% url 'acrev' %}">Puntos de Conexión</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'amrtr' %}">Movimiento de Redes</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'lega' %}">Legalizaciones</a>
          </li>
        </ul>
      </li>
      <!--  
          INICIO BONIFICACION
          -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">Bonificaciones</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="/admin/bonificaciones/perseo/import/" target="_blank">Subir Perseo</a>
          </li>
          <li>
            <a class="dropdown-item" href="/admin/bonificaciones/fenix/import/" target="_blank">Subir Fénix</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="gestionar_bd_bonificacion()">Gestionar BD</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'producido_rango_fechas' %}">Cálculo bonificación</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'producido_diario' %}">Producido diario</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'bonificaciones' %}">Bonificaciones</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="reiniciar_bd_bonificacion()">Reiniciar BD</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="reiniciar_bonificaciones()">Reiniciar bonificaciones</a>
          </li>
        </ul>
      </li>
      <!--  
          FIN BONIFICACION
          -->

      <!--  
          INICIO SELLOS
          -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
              aria-expanded="true">Sellos</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="nav-item dropdown">
                <a class="dropdown-item w-100" href="{% url 'subir_acta_sellos' 'acta' %}">Subir Acta</a>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-item w-100" href="{% url 'subir_acta_sellos' 'series' %}">Subir Series</a>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-item w-100" href="{% url 'subir_acta_sellos' 'materiales' %}">Subir Materiales instalados</a>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-item w-100" href="{% url 'generar_informe_sellos' %}">Generar informe</a>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-item w-100" href="{% url 'ver_informe_sellos' %}">Ver informe</a>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-item w-100" href="{% url 'ver_novedades_sellos' %}">Novedades</a>
              </li>              
              <li class="nav-item dropdown">
                <a class="dropdown-item w-100" href="{% url 'reiniciar_extracciones_sellos' %}">Reiniciar extracciones</a>
              </li>
            </ul>
          </li>
      <!--  
          FIN SELLOS
          -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">Nomina</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{% url 'subirnominametro' %}">Subir</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'definir_fechas' %}">Gestionar archivo</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'informe' %}">Informe</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="reiniciar_prenomina()">Reiniciar prenomina</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">Opciones</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="nav-item dropdown">
            <a class="dropdown-item w-100" href="{% url 'upload_avatar' %}?next=/">Foto</a>
          </li>
          <li class="nav-item dropdown">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="dropdown-item w-100">Cerrar sesión</button>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="mx-2 fw-bold" style="color: #3498db !important;">
    <small>
      {% if numero_acta_actual %}
      <a href="#" data-bs-toggle="modal" data-bs-target="#actaModal" style="color: #3498db !important;">
        {{numero_acta_actual }}</a> -
      {% else %}
      <span>
        <a class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#actaModal">Registrar acta actual</a> -
      </span>
      {% endif %}
      User: {{ user.username }}
    </small>
  </div>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="actaModal" tabindex="-1" aria-labelledby="actaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="actaModalLabel">Registrar Acta Actual</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'registrar_acta' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="numero_acta" class="form-label">Número de Acta</label>
              <input type="text" class="form-control" id="numero_acta" name="numero" required
                value="{{ numero_acta_actual.numero|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% block content %}
  <div class="main">
    <div class="container py-5">
      {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show"
                role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
      {% else %}
      
      <!-- Alerta de bienvenida -->
      <div class="alert alert-primary text-center py-4 my-2 rounded-3 shadow-sm">
        <h2 class="fw-bold mb-0">👋 ¡Bienvenido(a), {{ user.username }}!</h2>
        <p class="fs-5 mt-2">Gestiona fácilmente los ANS de las actividades del contrato y mantén el control de tus
          procesos.</p>
      </div>

      <!-- Sección de foto de perfil -->
      <div class="text-center">
        {% if user.userprofile.avatar %}
        {% else %}
        <h2 class="fs-3 text-muted my-4">Ahora podrás subir tu foto aquí</h2>
        <a href="{% url 'upload_avatar' %}" class="btn btn-primary btn-lg">Subir foto</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endblock %}

  {% block js %}
  <script src="{% static 'js/js_pendientes.js' %}"></script>
  <script src="{% static 'js/actividades.js' %}"></script>
  {% endblock %}
  <img src="{% static 'logo_joluro_software.png' %}" alt="Logo Joluro Software" class="logo-flotante">
</body>

</html>