{% extends 'index.html' %} {% load static %} {% block content %}
<div class="table-id card mt-4" style="width: 100%; margin: auto">
  <div class="card-body">
    <h6 class="m-0 text-center">Pedidos LEGALIZACIONES</h6>
    <table class="table" id="table_id" style="width: 100%; margin: auto">
      <thead>
        <tr
          class="text-center"
          style="background-color: #8ee7fa;"
        >
          <th scope="col">Pedido</th>
          <th>Concepto</th>
          <th>Actividad</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th scope="col">Dias ANS</th>
          <th scope="col">Cliente ID</th>
          <th scope="col">Nombre Cliente</th>
          <th scope="col">Celular</th>
          <th scope="col">Instalación</th>
          <th scope="col">Area trabajo</th>
          <th scope="col">Observación</th>
          <th>Fecha full</th>
        </tr>
      </thead>
      <tbody>
        {% for a in aneses %}

        <tr class="text-center tr">
          <th scope="row">{{ a.Pedido }}</th>
          <th>{{ a.Concepto }}</th>
          <th>{{ a.Actividad }}</th>
          <td>{{ a.fecha_vence }}</td>
          <td>{{ a.hora_vencimiento }}</td>
          <td>{{ a.Días_ANS }}</td>
          <td>{{ a.ClienteID }}</td>
          <td>{{ a.Nombre_Cliente }}</td>
          <td>{{ a.Celular_Contacto }}</td>
          <td>{{ a.Instalación }}</td>
          <td>{{ a.Area_Trabajo }}</td>
          <td><textarea name="" id="" class="p-1" cols="20" rows="5">{{ a.Observación_Solicitud }}</textarea></td>
          <td>{{ a.fecha_vencimiento }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block js %}

<script src="{% static 'js/js_pendientes.js' %}"></script>

<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      order: [[12, "asc"]],

      dom: "Bfrtilp",

      lengthMenu: [
            [ 15, 30, 50, -1 ],
            [ '15', '30', '50', 'Todos' ]
        ],
        
      buttons: [
        {
          extend: "copyHtml5",
          exportOptions: {
            columns: [ 0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
          },
        },
        {
          extend: "csvHtml5",
          exportOptions: {
            columns: [ 0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
          },
        },
        {
          extend: "pdfHtml5",
          exportOptions: {
            columns: [ 0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
          },
        },
        "print",   
        {
          extend: "excelHtml5",
          exportOptions: {
            columns: [ 0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
          },
        },    
      ],
    });
  });
</script>

{% endblock js %}

