{% extends 'index.html' %}
{% block content %}
<div class="table-id card mt-4" style="max-width: 450px; margin: auto; background-color: blue">
  <div class="card-body text-white">
    <h4 class="m-0 text-center">Subir Acta</h4>
    <form method="post" enctype="multipart/form-data" action="{% url 'subir_material_acta' %}">
        {% csrf_token %}
        <div class="form-group mt-3">
            <input type="file" id="file" name="file" class="form-control">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <input type="submit" class="btn btn-light" value="Subir archivo">
        </div>
    </form>
  </div>
</div>
{% endblock %}


