{% extends 'index.html' %} {% load static %}{% load humanize %} {% block content %}
<div class="table-id card mt-4" style="max-width: 1300px; margin: auto">
  <div class="card-body">
    <h6 class="m-0 text-center">Producido</h6>
    <table class="table table_prod" id="table_id" style="width: 100%; margin: auto">
      <thead>
        <tr class="text-left"style="background-color: #9479f5; font-size: 0.8em;">

          <th scope="col">Oficial</th>
          <th>Días</th>
          <th scope="col">Mano de obra</th>
          <th scope="col">Valor materiales</th>
          <th scope="col">Diferencia</th>
          <th scope="col">Meta</th>
          <th>Producido</th>
          <th>Pro. producido</th>
          <th>Pro. excedente</th>
          <th scope="col">Treinta %</th>
          <th>Por persona</th>         
        </tr>
      </thead>
      <tbody>
        {% for b in bonificaciones %}

        <tr class="text-left tr small">
          <th scope="row" class="small">{{ b.instalador }}</th>
          <th scope="row" class="small text-center">{{ b.dias }}</th>
          <th scope="row" class="small text-center">{{ b.mano_obra|floatformat:2 }}</th>
          <th scope="row" class="small text-center">{{ b.materiales |floatformat:2 }}</th>
          <th scope="row" class="small text-center">{{ b.diferencia |floatformat:2 }}</th>
          <th scope="row" class="small text-center">{{ b.meta|floatformat:0 }}</th>
          <th scope="row" class="small text-center person {% if b.producido > 0 %}bg-boniprod{% endif %}">{{ b.producido|floatformat:2 }}</th>
          <th scope="row" class="small text-center person {% if b.promedio_producido > 0 %}bg-boniprod{% endif %}">{{ b.promedio_producido|floatformat:2 }}</th>
          <th scope="row" class="small text-center person {% if b.promedio_excedente > 0 %}bg-boniprod{% endif %}">{{ b.promedio_excedente|floatformat:2 }}</th>
          <th scope="row" class="small text-center person {% if b.treinta_porciento > 0 %}bg-boniprod{% endif %}">{{ b.treinta_porciento|floatformat:2 }}</th>
          <th scope="row" class="small text-center person {% if b.por_persona > 0 %}bg-boniprod{% endif %}">{{ b.por_persona|floatformat:2 }}</th>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block js %}

<script src="{% static 'js/js_pendientes.js' %}"></script>

<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      order: [[9, "desc"]],

      dom: "Bfrtilp",

      lengthMenu: [
            [ 15, 30, 50, -1 ],
            [ '15', '30', '50', 'Todos' ]
        ],
        
      buttons: [   
        {
          extend: "excelHtml5",
          title:'',
          exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ],
            format: {
              body: function ( data, row, column, node ) {
                // Strip $ from salary column to make it numeric
                if (column >= 2 && column <= 9) {
                  return data.replace(/[,]/g, '.');
                }
                return data; // Para otras columnas, devuelve el dato sin cambios
              
            }
            },
          },
        }, 
           
      ],
    });
  });
</script>

{% endblock js %}

