.modal .modal-content {
    max-width: 400px;
}

.color_primary{
 color: #3498db !important;
}

.modal .modal-header {
    background-color: #a4edcb !important;
    color: rgb(63, 49, 49) !important;
    padding: 8px;
}

.modal h5 {
    margin-left: 10px;
}


.modal .btn-guardar {
    background-color: #3498db !important;
    border-color: #3498db !important;
    color: white !important;
}


.modal .modal-body {
    font-size: 13px !important;
}

.modal .modal-body input,
select {
    font-size: 14px !important;
}

.boton-guardar .btn-guardar {
    background-color: #3498db !important;
    border-color: #3498db !important;
    color: white !important;
}

.container .card-header {
    background-color: #a4edcb !important;
    color: rgb(63, 49, 49) !important;
    padding: 5px;
}


body {
    display: flex;
    flex-direction: column; /* Apilar los hijos verticalmente */
    height: 100vh; /* 100% del viewport */
    margin: 0; /* Quitar márgenes por defecto */
  }
  
  .header {
    flex: 0 0 auto; /* La altura del navbar es fija */
  }
  
.container-admin.card{
    margin-bottom: 20px;
    flex: 1 1 auto; /* Este div ocupará todo el espacio restante */
}


.card-materiales-permitidos .dataTables_filter{
    background-color: aqua;
    margin: 0px;
}

.bug{
    background-color: red !important; 
    color: red !important;
}


.list-group a{
    padding: 2px;
    font-size: 15px;
    padding-left: 10px;
}

.icon-masivo-crear{
    color: #028e6d;
}

.dataTables_wrapper .dataTables_filter {
    float: right !important;
    text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
    width: 200px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.dataTables_wrapper .col-sm-12 .col-md-5{
    background-color: red !important;
    height: 30px !important;
}


.btn {
    transition: box-shadow 0.3s ease; /* Animación suave */
}

.btn:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más prominente al pasar el cursor */
}



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f8f9fa; /* Fondo más claro para los encabezados */
    font-weight: bold;
    border-bottom: 2px solid #ddd; /* Línea más definida */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo alternado para las filas */
}

tr:hover {
    background-color: #e9ecef; /* Resalta las filas al pasar el cursor */
}

.card {
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el cursor */
}

.logo-flotante {
    position: fixed;
    bottom: 10px; /* Distancia desde la parte inferior */
    right: 10px; /* Distancia desde la derecha */
    width: 100px; /* Tamaño del logo */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    opacity: 0.8; /* Hace que el logo sea un poco transparente */
    transition: transform 0.3s ease-in-out;
}

.logo-flotante:hover {
    transform: scale(1.1); /* Hace que el logo crezca al pasar el mouse */
    opacity: 1; /* Aumenta la opacidad */
}
