.modal .modal-content {
    max-width: 400px;
}

.color_primary{
 color: #3498db !important;
}

.modal .modal-header {
    background-color: #a4edcb !important;
    color: rgb(63, 49, 49) !important;
    padding: 8px;
}

.modal h5 {
    margin-left: 10px;
}


.modal .btn-guardar {
    background-color: #3498db !important;
    border-color: #3498db !important;
    color: white !important;
}


.modal .modal-body {
    font-size: 13px !important;
}

.modal .modal-body input,
select {
    font-size: 14px !important;
}

.boton-guardar .btn-guardar {
    background-color: #3498db !important;
    border-color: #3498db !important;
    color: white !important;
}

.container .card-header {
    background-color: #a4edcb !important;
    color: rgb(63, 49, 49) !important;
    padding: 5px;
}


body {
    display: flex;
    flex-direction: column; /* Apilar los hijos verticalmente */
    height: 100vh; /* 100% del viewport */
    margin: 0; /* Quitar márgenes por defecto */
  }
  
  .header {
    flex: 0 0 auto; /* La altura del navbar es fija */
  }
  
.container-admin.card{
    margin-bottom: 20px;
    flex: 1 1 auto; /* Este div ocupará todo el espacio restante */
}

.bug{
    background-color: red !important; 
    color: red !important;
}

.list-group a{
    padding: 2px;
    font-size: 15px;
    padding-left: 10px;
}