{% extends 'index.html' %} {% load humanize %} {% load static %} {% block content %}

<div class="table-id card mt-1" style="width: 100%; margin: auto">
  <div class="card-body">
    <table class="table table-sm table-hover" class="display nowrap" id="table_id">
      <thead class="p-0">
        <tr class="text-center p-0" style="background-color: #8ee7fa; font-size: 0.5em;">
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Código</th>
          <th>Cargo</th>
          <th>Salario Mensual Basico / Honorario mensual</th>
          <th> Valor/hora ordin.</th>
          <th>Periodo Fecha Inicial (dd/mm/yyyy)</th>
          <th>Periodo Fecha Final (dd/mm/yyyy)</th>
          <th>Horas Ordinarias (1)</th>
          <th>ON (0.35)</th>
          <th>ED (1.25)</th>
          <th>EN (1.75)</th>
          <th>0FD (0.75)</th>
          <th>0FN (1.1)</th>
          <th>EFD (2)</th>
          <th>EFN (2.5)</th>
          <th>D o F D (1.75)</th>
          <th>D o F N (2.1)</th>
          <th>Ausencias remuneradas hora(s)</th>
          <th>Ausencias No remuneradas hora(s)</th>
          <th>Incapacidad por enfermedad general horas (s)</th>
          <th>Vr Auxilio Transporte o Auxilio de Conectividad</th>
          <th>Otros Ingresos $ No Prestacionales</th>
          <th>Otros Ingresos $ Prestacionales</th>
          <th>Total Devengado</th>
          <th>Deducción Retención en la Fuente</th>
          <th>Otras Deducciones $</th>
          <th>Deducciones SGSS $</th>
          <th>Neto a pagar</th>
          <th>FIRMA</th>
        </tr>
      </thead>
      <tbody>
        {% for i in informe %}
        <tr class="text-center tr" style="font-size: 0.7em !important">
          <td>{{i.cedula }}</td>
          <td>{{i.nombre }}</td>
          <td>{{i.apellido }}</td>
          <td>{{i.codigo }}</td>
          <td>{{i.cargo }}</td>
          <td>{{i.salario_mensual_basico|floatformat:0}}</td>
          <td>{{i.valor_hora_ordin|floatformat:0 }}</td>
          <td>{{i.periodo_fecha_inicial }}</td>
          <td>{{i.periodo_fecha_final }}</td>
          <td>{{i.horas_ordinarias|floatformat:2}}</td>
          <td>{{i.on_0_35|floatformat:0 }}</td>
          <td>{{i.ed_1_25|floatformat:0 }}</td>
          <td>{{i.en_1_75|floatformat:0 }}</td>
          <td>{{i.fd_0_75|floatformat:0 }}</td>
          <td>{{i.fn_1_1|floatformat:0 }}</td>
          <td>{{i.efd_2|floatformat:0 }}</td>
          <td>{{i.efn_2_5|floatformat:0 }}</td>
          <td>{{i.d_o_f_d_1_75|floatformat:0 }}</td>
          <td>{{i.d_o_f_n_2_1|floatformat:0 }}</td>
          <td>{{i.ausencias_remuneradas_hora|floatformat:0 }}</td>
          <td>{{i.ausencias_no_remuneradas_hora|floatformat:0 }}</td>
          <td>{{i.incapacidad_por_enfermedad_general_horas|floatformat:0 }}</td>
          <td>{{i.vr_auxilio_transporte_o_auxilio_de_conectividad }}</td>
          <td>{{i.otros_ingresos_no_prestacionales }}</td>
          <td>{{i.otros_ingresos_prestacionales }}</td>
          <td>{{i.total_devengado }}</td>
          <td>{{i.deducción_retención_en_la_fuente }}</td>
          <td>{{i.otras_deducciones }}</td>
          <td>{{i.deducciones_sgss }}</td>
          <td>{{i.neto_a_pagar }}</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block js %}

<script src="{% static 'js/js_pendientes.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      order: [[1, "asc"]],
      dom: "Bfrtilp",
      exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ],
            format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
          },
      buttons: [
        {
          extend: "excel",
          title: '',                  // Extend the excel button
          "excelStyles": [
            {
              "cells": "A",
              "width": 11,
              "style": {
                "alignment": {
                  "vertical": "center",
                  "horizontal": "center",
                },
              }
            },
            {
              "cells": "B:I",
              "width": 26,
              "style": {
                "alignment": {
                  "vertical": "center",
                  "horizontal": "center",
                },
              }
            },
            {
              "cells": "H:AE",
              "width": 18,
            },
            {
              "cells": "F:G",
              "style": {
                "numFmt": "[$$-en-US] #,###"
            }
            },
            {
              "cells": "J:V",
              "style": {
                "numFmt": "#,##0;(#,##0)"
            }
            },            
            {
              "cells": "1",
              "style": {
                "border": {
                  "right": {
                    "style": "thin",
                    "color": "FFFFFF"
                  }
                },

                "font": {
                  "color": "00000000",
                  "weight": "bold",
                  "name": "Trebuchet MS",
                  "size": "9",
                },
                "fill": {
                  "pattern": {
                    "color": "7AD400"
                  }
                },
                "alignment": {
                  "vertical": "center",
                  "horizontal": "justify",
                },
              }
            },
            {
              "cells": "2:n,1",
              "style": {
                "font": {
                  "color": "00000000",
                  "name": "Trebuchet MS",
                  "size": "8",
                },

                "border": {
                  "top": {
                    "style": "thin",
                    "color": "00B050"
                  },
                  "bottom": {
                    "style": "thin",
                    "color": "00B050"
                  },
                  "left": {
                    "style": "thin",
                    "color": "00B050"
                  },
                  "right": {
                    "style": "thin",
                    "color": "00B050"
                  }
                },
              }
            },
          ]
        },
      ],

      lengthMenu: [
        [15, 30, 50, -1],
        ["15 filas", "30 filas", "50 filas", "Todos"],
      ],
    });
  });
</script>

{% endblock js %}