{% extends 'index.html' %} {% load static %}{% load humanize %} {% block content %}
<div class="table-id card mt-4" style="max-width: 900px; margin: auto">
  <div class="card-body">
    <h6 class="m-0 text-center">Subir archivo nomina</h6>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Selecciona el archivo:</label>
        <input type="file" id="file" name="file">
        <input type="submit" value="Upload">
    </form>
    
  </div>
</div>
{% endblock content %} 
