<div class="modal fade" id="editarActividadLegalizacionModal{{ actividad.id }}" tabindex="-1"
    aria-labelledby="editarActividadLgealizacionLabel{{ actividad.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarActividadLegalizacionLabel{{ actividad.id }}">Actualizar Actividad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="form-editar-actividad-legalizacion-{{ actividad.id }}" method="post">
                    {% csrf_token %}
                    <div class="mb-2 input-group-sm">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control nombre_encargado" name="nombre" value="{{ actividad.nombre }}">
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <button type="submit" class="btn btn-success btn-guardar-actividad-legalizacion"
                        data-id="{{ actividad.id }}">Guardar</button>
                        <a class="btn tabla_actividades btn-sm p-0 mx-1 text-danger btn-eliminar" 
                            data-id="{{ actividad.id }}"
                            onclick="eliminarActividadLegalizacion(this)"
                            >
                            <i class="fa fa-arrow-left mt-2"></i>
                            <span class="fw-bold mx-2">Eliminar</span>
                        </a>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>