<div class="d-flex admin_actividades">
    <div class="card shadow-sm actividades_contrato" style="width: 300px;">
        <div class="title_contrato">
            <h6 class="text-center m-2">Legalización</h6>
        </div>

        <div class="table-responsive">
            <table class="table tabla_actividades m-0 text-center">
                <thead>
                    <tr style="font-size: 13px;">
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for actividad in actividades_legalizacion %}
                    <tr>
                        <td style="font-size: 11px;">
                            <a href="#" class="text-decoration-none text-primary" data-bs-toggle="modal"
                                data-bs-target="#editarActividadLegalizacionModal{{ actividad.id }}" title="Pulse para editar">
                                {{ actividad.nombre }}
                            </a>
                        </td>
                    </tr>
                    <!-- Modal de edición dentro de la fila correspondiente -->
                    {% include 'forms/form_editar_actividad_legalizacion.html' %}
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-muted">No hay actividades registradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex list-masivo-actividad-contrato px-3 py-1">
            <a class="btn tabla_actividades btn-sm" href="{% url 'nueva_actividad_legalizacion_form' %}" title="Crear nueva actividad de legalización">
                <i class="fa fa-plus m-0 icon-masivo-crear"></i> <!-- Icono de Font Awesome -->
            </a>            
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('.btn-guardar-actividad-legalizacion').forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                let actividadId = this.getAttribute('data-id');
                console.log(actividadId)
                let form = document.querySelector(`#form-editar-actividad-legalizacion-${actividadId}`);

                let formData = new FormData(form);

                let csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                fetch(`/administrador/editar-actividad-legalizacion/${actividadId}/`, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrfToken
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Cerrar el modal antes de mostrar la alerta
                            let modalElement = document.querySelector(`#editarActividadLegalizacionModal${actividadId}`);
                            let modalInstance = bootstrap.Modal.getInstance(modalElement);
                            modalInstance.hide();

                            Swal.fire({
                                title: 'Éxito',
                                text: 'Actividad actualizada correctamente',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                location.reload();  // Recargar la página para reflejar los cambios
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: data.error || 'Hubo un problema al actualizar.',
                                icon: 'error',
                                confirmButtonText: 'Cerrar'
                            });
                        }
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Error',
                            text: 'No se pudo actualizar la actividad',
                            icon: 'error',
                            confirmButtonText: 'Cerrar'
                        });
                    });
            });
        });
    });
</script>