{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="card mt-3 container container-admin py-0 py-4 px-4">
    <div class="row">
        <div class="col-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show"
                role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}

            <div class="">
                <div class="list-group" id="list-tab" role="tablist">
                    <h6>Control Ans</h6>
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                        href="#list-home" role="tab" aria-controls="home">Actividades</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile">Encargados</a>

                    <h6 class="mb-2 mt-3 ">Revisión Acta</h6>
                    <a class="list-group-item list-group-item-action" id="list-materiales-permitidos-list"
                        data-toggle="list" href="#list-materiales-permitidos" role="tab" aria-controls="home">
                        Materiales permitidos
                    </a>

                    <a class="list-group-item list-group-item-action" id="list-variables-list" data-toggle="list"
                        href="#list-variables" role="tab" aria-controls="variables">Variables contrato</a>
                    <a class="list-group-item list-group-item-action" id="list-actividades-legalizacion-list"
                        data-toggle="list" href="#list-actividades-legalizacion" role="tab"
                        aria-controls="actividades-legalizacion">Actividades legalización</a>
                    <a class="list-group-item list-group-item-action" id="list-guias-list" data-toggle="list"
                        href="#list-guias" role="tab" aria-controls="guias">Equivalencia de materiales</a>
                </div>
            </div>
        </div>
        <div class="col-8 my-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <div class="d-flex align-items-start gap-4 mx-4" id="list-home" role="tabpanel"
                        aria-labelledby="list-home-list">
                        {% include 'actividades_list.html' %}
                        {% include 'actividades_list_epm.html' %}
                    </div>
                </div>
                <div class="tab-pane fade gap-4 mx-4" id="list-profile" role="tabpanel"
                    aria-labelledby="list-profile-list">
                    {% include 'encargados_list.html' %}
                </div>
                <div class="tab-pane fade gap-4 mx-4" id="list-materiales-permitidos" role="tabpanel"
                    aria-labelledby="list-materiales-permitidos-list">
                    {% include 'materiales_permitidos_list.html' %}
                </div>
                <div class="tab-pane fade gap-4 mx-4" id="list-variables" role="tabpanel"
                    aria-labelledby="list-variables-list">
                    {% include 'variables_contrato.html' %}
                </div>
                <div class="tab-pane fade gap-4 mx-4" id="list-actividades-legalizacion" role="tabpanel"
                    aria-labelledby="list-actividades-legalizacion-list">
                    {% include 'actividades_legalizacion.html' %}
                </div>
                <div class="tab-pane fade gap-4 mx-4" id="list-guias" role="tabpanel" aria-labelledby="list-guias-list">
                    {% include 'guia_list.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery script to handle tab navigation -->
<script>
    $(document).ready(function () {
        $('#list-tab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>


{% endblock content %}