<div class="admin_actividades">
    <div class="card shadow-sm actividades_contrato" style="max-width: 200px;">
        <div class="title_contrato">
            <h6 class="text-center m-2">Encargados</h6>
        </div>

        <div class="table-responsive">
            <table class="table tabla_actividades m-0">
                <thead>
                    <tr style="font-size: 13px;">
                        <th class="text-center">Id</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for encargado in encargados %}
                    <tr>
                        <td class="text-center">{{encargado.id}}</td>
                        <td style="font-size: 11px;">
                            <a href="#" class="text-decoration-none text-primary mx-2" data-bs-toggle="modal"
                                data-bs-target="#editarEncargadoModal{{ encargado.id }}">
                                {{ encargado.nombre }}
                            </a>
                    </tr>
                    <!-- Modal de edición dentro de la fila correspondiente -->
                    {% include 'forms/form_editar_encargado.html' with encargados=encargados %}
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-muted">No encargados registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-footer p-0">
            <a class="btn tabla_actividades btn-sm p-0 mx-3" href="{% url 'subir_masivo_encargados' %}">
                <i class="fas fa-cloud-upload-alt icon-masivo-crear"></i> <!-- Subida en la nube -->
            </a>
            <a class="btn tabla_actividades btn-sm p-0" href="{% url 'nueva_encargado_form' %}">
                <i class="fa fa-plus m-0 icon-masivo-crear"></i> <!-- Icono de Font Awesome -->
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('.btn-guardar-encargado').forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                let encargadoId = this.getAttribute('data-id');
                let form = document.querySelector(`#form-editar-encargado-${encargadoId}`);
                console.log("id enc")
                console.log(encargadoId)
                let formData = new FormData(form);

                let csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                fetch(`/administrador/editar-encargado/${encargadoId}/`, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrfToken
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Cerrar el modal antes de mostrar la alerta
                            let modalElement = document.querySelector(`#editarEncargadoModal${encargadoId}`);
                            let modalInstance = bootstrap.Modal.getInstance(modalElement);
                            modalInstance.hide();

                            Swal.fire({
                                title: 'Éxito',
                                text: 'Encargado actualizado correctamente',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                location.reload();  // Recargar la página para reflejar los cambios
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: data.error || 'Hubo un problema al actualizar.',
                                icon: 'error',
                                confirmButtonText: 'Cerrar'
                            });
                        }
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Error',
                            text: 'No se pudo actualizar...',
                            icon: 'error',
                            confirmButtonText: 'Cerrar'
                        });
                    });
            });
        });
    });
</script>